
<div  class="upperBar" >
    <img  class="imageBar" src="assets/MyLearn-Logo.png" alt="Logo MyLearn" >
    <h1 class="header">MyLearn</h1>

    <div class="elementsBar"><a href="#login"><span  class="spanIcons glyphicon glyphicon-log-out"></span> </a></div>
    <div class="elementsBar"><a href="#professorprofile"><span class="spanIcons glyphicon glyphicon-home"></span></a></div>
    <div class="textBarRight" >Mi Perfil </div>
</div>

<div class="rows">
    <div class="border row">
        <div class="border col-md-8 col-md-offset-2"> 

            <h1 class="sharedAreaTitle">Resumen del curso {{vm.courseData.courseName}}</h1>
            <br>
            <div class="panel panel-default" >
                <div  class="panel-body">

                    <div ng-repeat="student in vm.courseData.Students"> 
                        <div class="panel panel-default panelAuction">
                            <div class="panel-body">
                                <p>Nombre estudiante: {{student.Nombre}}
                                    
                                    <button ng-click="vm.goArea(student.StudentUserId)" style="margin:2px" type="button" class="btn btn-primary uniCourse"> Abrir área compartida </button>
                                </p> 
                            </div>
                        </div>


                    </div>      
                </div>
            </div>
        </div>
    </div>
</div>