<div  class="upperBar" >
    <img  class="imageBar" src="assets/MyLearn-Logo.png" alt="Logo MyLearn" >
    <h1 class="header">MyLearn</h1>

    <div class="textBarRight" > Unete </div>
</div>


<div class="row" style="margin-top:70px"> 
    <div class="col-md-6 col-md-offset-3" >

        <div class="panel panel-default" >
            <div  class="panel-heading"><h1>Registro</h1></div>
            <div  class="panel-body loginSpace">

                <ul class="nav nav-tabs">
                    <li ><a href="#/register">Como estudiante</a></li>
                    <li><a href="#/register2">Como profesor</a></li>
                    <li class="active" ><a href="#/register3">Como empleador</a></li>
                </ul> 
                <div class= "well"> 
                    <form name="form" ng-submit="vm.register()" role="form">

                        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                            <input placeholder ="Nombre de contacto" type="text" name="username"  class="form-control" ng-model="vm.regData.NombreContacto" required />
                            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">El nombre de contacto es requerido </span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.username.$error.required }">
                            <input placeholder ="Apellido de contacto" type="text" name="lastName"  class="form-control" ng-model="vm.regData.ApellidoContacto" required />
                            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">El apellido de contacto es requerido </span>
                        </div>

                        <label>Escoge tu pais</label>
                        <div class="form-group" >
                            <select ng-model="vm.regData.Ubicacion" ng-options="x.CountryId as x.Country for x in vm.countries" required>
                            </select> 
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                            <input placeholder ="Correo eléctronico " type="email" name="email" class="form-control" ng-model="vm.regData.Email" required />
                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">El correo es requerido</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.telephone.$dirty && form.telephone.$error.required }">
                            <input placeholder ="Teléfono" type="number" name="telephone" class="form-control" ng-model="vm.regData.Telefono" required />
                            <span ng-show="form.telephone.$dirty && form.telephone.$error.required" class="help-block">El teléfono es requerido</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <input placeholder ="Contraseña" type="password" name="password" class="form-control" ng-model="vm.regData.Password" required />
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">La contraseña es requerida</span>
                        </div>

                        <label>Escoge tu repositorio de archivos</label>
                        <div class="form-group" ng-class="{ 'has-error': form.repo.$dirty && form.repo.$error.required }">
                            <select value="Escoja repositorio de archivos"ng-model="vm.regData.TipoRepositorioArchivos" ng-options="x.id as x.tipo for x in vm.repositories" required>
                            </select> 
                        </div>

                        <label>Escoge tu foto de perfil</label>
                        <div class="form-group" ng-class="{ 'has-error': form.photo.$dirty && form.photo.$error.required }">           
                            <input name="photos" accept="image/*" class="btn btn-info" type="file" name="file"   ng-model="vm.regData.Photo" base-sixty-four-input required>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.business.$dirty && form.business.$error.required }">
                            <input placeholder ="Nombre empresarial" type="text" name="business" class="form-control" ng-model="vm.regData.NombreEmpresarial" required />
                            <span ng-show="form.business.$dirty && form.business.$error.required" class="help-block">El nombre empresarial es requerido</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.web.$dirty && form.web.$error.required }">
                            <input placeholder ="Enlace sitio web" type="text" name="link" class="form-control" ng-model="vm.regData.EnlaceSitioWeb" required />
                            <span ng-show="form.web.$dirty && form.web.$error.required" class="help-block">La página  web es requerida</span>
                        </div>

                        <div class="form-actions">
                            <button  type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-default yellowButton">Registrarse</button>
                            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
        <a style="float:right; text-decoration: underline;" href="#/login" >Cancelar</a>
        <br>
    </div>
</div>


