
<div  class="upperBar" >
    <img  class="imageBar" src="assets/MyLearn-Logo.png" alt="Logo MyLearn" >
    <h1 class="header">MyLearn</h1>

    <div class="elementsBar"><a href="#login"><span  class="spanIcons glyphicon glyphicon-log-out"></span> </a></div>
    <div class="elementsBar"><a href="#professorprofile"><span class="spanIcons glyphicon glyphicon-home"></span></a></div>
    <div class="textBarRight" >Mi Perfil </div>

</div>


<div class="rows">
    <div class="border row"> 
        <div class="border col-md-4" >

            <div class="left-panel">
                <img alt="Foto de perfil" class="img-circle" data-ng-src="{{vm.photo}}">

                <div class="personalInformation"> 
                    <p><strong>Nombre Contacto: </strong> {{vm.userData.NombreContacto}}</p>
                    <p><strong>Apellido Contacto: </strong> {{vm.userData.ApellidoContacto}} </p>
                    <p><strong>Ubicación: </strong> {{vm.userData.Ubicacion}}</p>
                    <p><strong>Correo electrónico: </strong> {{vm.userData.Email}}</p>
                    <p><strong>Teléfono:</strong> {{vm.userData.Telefono}}</p>
                    <p><strong>Tipo Repositorio Archivos: </strong> {{vm.userData.TipoRepositorioArchivos}}</p>
                    <p><strong>Fecha de registro: </strong> {{vm.userData.Fecha_Registro}}</p>
                    <p><strong>Universidad: </strong> {{vm.userData.Universidad}}</p>
                    <p><strong>Horario de atención: </strong>{{vm.userData.HorarioAtencion}}</p>
                    <!-- Trigger the modal with a button -->
                    <div ng-if="vm.toggleEnable"> 
                        <!-- Trigger the modal with a button -->
                        <button type="button"  class="btn btn-default disableButton" data-toggle="modal" data-target="#myModal">
                            Deshabilitar cuenta</button>
                    </div>

                    <div ng-if="!vm.toggleEnable">
                        <button type="button"  class="btn btn-default enableButton"  data-toggle="modal" data-target="#myModal2">Habilitar cuenta</button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">¿Estás seguro de deshabilitar de tu cuenta?</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Mientras tu cuenta esté desactivada no podrás hacer uso de ningún servicio de MyLearn. Para activar tu cuenta de nuevo tendrás que iniciar sesión de nuevo y activarla manualmente.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger" ng-click="vm.disableAccount()" data-dismiss="modal">Proceder</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">¿Estás seguro de habiliar tu cuenta?</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Puedes volver a desactivar tu cuenta en cualquier momento.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" ng-click="vm.disableAccount()" data-dismiss="modal">Proceder</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="border col-md-8" >

            <ul class="nav nav-tabs">
                <li class="active"><a href="#professorprofile"><h4> Mis cursos</h4></a></li>
                <li><a href="#newcourse"><h4>Crear curso</h4></a></li>
            </ul>

            <div class="tab-content">

                <h3>Cursos activos</h3>
                <hr class="hr3">

                <div ng-repeat="activeCourse in vm.userData.ActiveCoursesList">
                    <div class="panel panel-default panelProfile">
                        <div class="panel-body">
                            <strong>Nombre del curso:</strong> {{activeCourse.CourseName}}
                            <strong> Descripción: </strong> {{activeCourse.CourseDescription}}
                            <button ng-disabled="!vm.toggleEnable" ng-click="vm.goCourseActive(activeCourse)"  type="button" class="btn btn-primary yellowButton uniCourse">Abrir curso</button> 
                        </div>
                    </div>               
                </div>

                <br>     
                <h3>Cursos terminados</h3>
                <hr class="hr3">

                <div ng-repeat="finishedCourse in vm.userData.FinishedCoursesList">
                    <div class="panel panel-default panelProfile">
                        <div class="panel-body">
                            <strong>Nombre del curso:</strong> {{finishedCourse.CourseName}}
                            <strong> Descripción:</strong> {{finishedCourse.CourseDescription}}
                            <button ng-disabled="!vm.toggleEnable" ng-click="vm.goCourseFinished(finishedCourse)"  type="button" class="btn btn-primary yellowButton uniCourse">Abrir curso</button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
