
<div  class="upperBar" >
    <img  class="imageBar" src="assets/MyLearn-Logo.png" alt="Logo MyLearn" >
    <h1 class="header">MyLearn</h1>

    <div class="elementsBar"><a href="#login"><span  class="spanIcons glyphicon glyphicon-log-out"></span> </a></div>
    <div class="elementsBar"><a href="#professorprofile"><span class="spanIcons glyphicon glyphicon-home"></span></a></div>
    <div class="textBarRight" >Mi Perfil </div>

</div>


<div class="rows">
    <div class="border row"> 
        <div class="border col-md-4" >

            <div class="left-panel">
                <img class="img-circle" data-ng-src="{{vm.Foto}}">

                <div class="personalInformation"> 
                    <p><strong>Nombre Contacto: </strong> {{vm.NombreContacto}}</p>
                    <p><strong>Apellido Contacto: </strong> {{vm.ApellidoContacto}} </p>
                    <p><strong>Ubicación: </strong> {{vm.Ubicacion}}</p>
                    <p><strong>Correo electrónico: </strong> {{vm.Email}}</p>
                    <p><strong>Teléfono:</strong> {{vm.Telefono}}</p>
                    <p><strong>Tipo Repositorio Archivos: </strong> {{vm.TipoRepositorioArchivos}}</p>
                    <p><strong>Fecha de registro: </strong> {{vm.Fecha_Registro}}</p>
                    <p><strong>Universidad: </strong> {{vm.Universidad}}</p>
                    <p><strong>Horario de atención: </strong>{{vm.HorarioAtencion}}</p>
                </div>
                <button class="btn btn-danger">Deshabilitar cuenta</button>

            </div>

        </div>

        <div class="border col-md-8" >

            <h2>Título</h2>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#professorprofile"><h4> Mis cursos</h4></a></li>
                <li><a href="#newcourse"><h4>Crear curso</h4></a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active container">

                    <h3>Cursos activos</h3>
                    <hr class="hr2">

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button                    ng-click="vm.goArea()"  type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button ng-click="vm.goArea2()" type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button  type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button  type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>

                    <br>     
                    <h3>Cursos terminados</h3>
                    <hr class="hr2">

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button  type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button  type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button  type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button  type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
