
<div  class="upperBar" >

    <img  class="imageBar" src="assets/MyLearn-Logo.png" alt="Logo MyLearn" >
    <h1 class="header">MyLearn</h1>

    <div class="elementsBar"><a href="#login"><span  class="spanIcons glyphicon glyphicon-log-out"></span> </a></div>
    <div class="elementsBar"><a  href="#notifications"><span class="spanIcons glyphicon glyphicon-bell"></span> </a></div>
    <div class="elementsBar"><a href="#studentprofile"><span class="spanIcons glyphicon glyphicon-home"></span></a></div>
    <div class="textBarRight" >Mi Perfil </div>

</div>


<div class="rows">
    <div class="border row"> 
        <div class="border col-md-4" >

            <div class="left-panel">
                <img alt="Foto de perfil" class="img-circle" data-ng-src="{{ vm.photo }}">

                <div class="personalInformation"> 
                    <p><strong>Nombre Contacto: </strong> {{vm.userData.NombreContacto}}</p>
                    <p><strong>Apellido Contacto: </strong> {{vm.userData.ApellidoContacto}} </p>
                    <p><strong>Ubicación: </strong> {{vm.userData.Ubicacion}}</p>
                    <p><strong>Correo electrónico: </strong> {{vm.userData.Email}}</p>
                    <p><strong>Teléfono:</strong> {{vm.userData.Telefono}}</p>
                    <p><strong>Tipo Repositorio Archivos: </strong> {{vm.userData.TipoRepositorioArchivos}}</p>
                    <p><strong>Fecha de registro: </strong> {{vm.userData.Fecha_Registro}}</p>
                    <p><strong>Carnet: </strong> {{vm.userData.Carnet}}</p>
                    <p><strong>Universidad: </strong> {{vm.userData.Universidad}}</p>
                    <p><strong>Enlace repositorio código: </strong> <a href="{{vm.userData.EnlaceRepositorioCodigo}}">Ir al repositorio</a></p>
                    <p><strong>Enlace curriculum: </strong> <a href="{{vm.userData.EnlaceACurriculum}}">Ir al curriculum</a></p>
                    <p><strong>Cursos aprobados: </strong> {{vm.userData.CursosAprobados}} </p>
                    <p><strong>Cursos reprobados: </strong> {{vm.userData.CursosReprobados}} </p>
                    <p><strong>Proyectos exitosos: </strong> {{vm.userData.ProyectosExitosos}} </p>
                    <p><strong>Proyectos fallidos: </strong> {{vm.userData.ProyectosFallidos}} </p>
                    <strong>Tecnologías: </strong>
                    <ul ng-repeat="tecnologia in vm.userData.Tecnologias">
                        <li>{{tecnologia}}</li>
                    </ul>
                    <br>
                    <strong>Idiomas: </strong>
                    <ul ng-repeat="idioma in vm.userData.Idiomas">
                        <li>{{idioma}}</li>
                    </ul>                 

                    <strong>Nota promedio de cursos</strong>
                    <div class="progress">
                        <div class="progress-bar" ng-style="vm.courseAverageWidth" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" >
                            {{vm.userData.PromedioCursos}}%
                        </div>
                    </div>

                    <strong>Nota promedio de proyectos</strong>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100" ng-style="vm.projectAverageWidth">
                            {{vm.userData.PromedioProyectos}}%
                        </div>
                    </div>

                    <div ng-if="vm.toggleEnable"> 
                        <!-- Trigger the modal with a button -->
                        <button type="button"  class="btn btn-default disableButton" data-toggle="modal" data-target="#myModal">
                            Deshabilitar cuenta</button>
                    </div>

                    <div ng-if="!vm.toggleEnable">
                        <button type="button"  class="btn btn-default enableButton"  data-toggle="modal" data-target="#myModal2">Habilitar cuenta</button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">¿Estás seguro de deshabilitar de tu cuenta?</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Mientras tu cuenta esté desactivada no podrás hacer uso de ningún servicio de MyLearn. Para activar tu cuenta de nuevo tendrás que iniciar sesión de nuevo.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger" ng-click="vm.disableAccount()" data-dismiss="modal">Proceder</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">¿Estás seguro de habiliar tu cuenta?</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Puedes volver a desactivar tu cuenta en cualquier momento.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" ng-click="vm.disableAccount()" data-dismiss="modal">Proceder</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="border col-md-8" >

            <ul class="nav nav-tabs">
                <li ><a href="#studentprofile"><h4> Mis cursos</h4></a></li>
                <li class="active"><a href="#workprofile"><h4>Mis trabajos</h4></a></li>
                <li><a href="#unicourses"><h4>Cursos de mi universidad</h4></a></li>
                <li><a href="#searcher"><h4>Buscar trabajos</h4></a></li>
            </ul>

            <div class="tab-content">

                <br>     
                <h3>Trabajos activos</h3>
                <hr class="hr3">

                <div ng-repeat="finishedWork in vm.userData.ActiveJobOffersList">
                    <div class="panel panel-default panelProfile">
                        <div class="panel-body">
                            <strong>Nombre del trabajo:</strong> {{finishedWork.project}},
                            <strong>  Descripción: </strong>{{finishedWork.Description}},
                            <strong>  Nombre del empleador: </strong>{{finishedWork.EmployerName}},
                            <strong>  Estado: </strong>{{finishedWork.State}},
                            <strong>  Descripción de estado: </strong>{{finishedWork.StateDescription}}

                            <span>     
                                <button ng-disabled="!vm.toggleEnable" ng-click="vm.goWorkFinished(finishedWork.JobOfferId)"  type="button" class="btn btn-primary  uniCourse yellowButton">Abrir trabajo</button>
                            </span>
                        </div>
                    </div>               
                </div>

                <br>     
                <h3>Trabajos terminados</h3>
                <hr class="hr3">

                <div ng-repeat="finishedWork in vm.userData.FinishedJobOffersList">
                    <div class="panel panel-default panelProfile">
                        <div class="panel-body">
                            <strong>Nombre del trabajo:</strong> {{finishedWork.project}},
                            <strong>  Descripción: </strong>{{finishedWork.Description}},
                            <strong>  Nombre del empleador: </strong>{{finishedWork.EmployerName}},
                            <strong>  Estado: </strong>{{finishedWork.State}},
                            <strong>  Descripción de estado: </strong>{{finishedWork.StateDescription}}

                            <span>     
                                <button ng-disabled="!vm.toggleEnable" ng-click="vm.goWorkFinished(finishedWork.JobOfferId)"  type="button" class="btn btn-primary  uniCourse yellowButton">Abrir trabajo</button>
                            </span>
                        </div>
                    </div>               
                </div>

            </div>
        </div>
    </div>
</div>

