<div  class="upperBar" >
    <img  class="imageBar" src="assets/MyLearn-Logo.png" alt="Logo MyLearn" >
    <h1 class="header">MyLearn</h1>

    <div class="elementsBar"><a href="#login"><span  class="spanIcons glyphicon glyphicon-log-out"></span> </a></div>
    <div class="elementsBar"><a  href="#notifications"><span class="spanIcons glyphicon glyphicon-bell"></span> </a></div>
    <div class="elementsBar"><a href="#studentprofile"><span class="spanIcons glyphicon glyphicon-home"></span></a></div>
    <div class="textBarRight" >Ofertar </div>

</div>

<br>

<div class="rows">
    <div class="border row"> 
        <div class="border col-md-4" >

            <div class="left-panel">
                <div class="personalInformation"> 

                    <p><strong>Nombre de la compañía: </strong> {{vm.offerData.EmployerName}}</p>
                    <p><strong>Ubicación: </strong> {{vm.offerData.Location}}</p>
                    <p><strong>Acerca del trabajo:</strong> {{vm.offerData.Description}}</p>
                    <p><strong>Nombre del proyecto:</strong> {{vm.offerData.JobOffer}}</p>
                    <p><strong>Fecha comienzo:</strong> {{vm.offerData.StartDate | date}}</p>
                    <p><strong>Fecha finalización:</strong> {{vm.offerData.EndDate| date}}</p>
                    <p><strong>Tecnologías a usar:</strong> <span ng-repeat="tech in vm.offerData.Technologies">{{tech}}, </span></p>
                    <p><strong>Presupuesto:</strong> {{vm.offerData.Budget |currency:"$"}}</p>
                    <p><strong>Otros estudiantes que han ofertado:</strong></p>
                    <ul ng-repeat="bid in vm.bids">
                        <li><p>Nombre: {{bid.StudentName}}, Dinero: {{bid.Money| currency:'$'}}, Días: {{bid.DurationInDays}}</p></li>
                       
                    </ul>
                </div>     
            </div>
        </div>

        <div class="border col-md-6 col-md-offset-1" >

            <h1 class="sharedAreaTitle">Realizar una oferta</h1>
            <br>
            <div class="panel panel-default" >
                <div  class="panel-body">

                    <div class="border row verticalSpace">
                        <div class="border col-md-5">

                            <p class="formLabel">Tiempo en días:</p>
                        </div>
                        <div class="border col-md-5">

                            <input ng-model="time" type=number style="float: left">
                        </div>
                    </div>

                    <div class="border row verticalSpace">
                        <div class="border col-md-5">

                            <p class="formLabel">Dinero en dólares:</p>
                        </div>
                        <div class="border col-md-6">

                            <input ng-model="money" type=number style="float: left">
                        </div>
                    </div>
                    <div class="border row verticalSpace"> 
                        <div class="border col-md-6 col-md-offset-5">
                            <button ng-class="vm.createBid(time,money)" class="btn btn-primary">Ofertar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

