
<div  class="upperBar" >
    <object type="image/svg+xml"  data="assets/logoSVG.svg">
        Your browser does not support SVG
    </object>

    <div class="elementsBar"><a href="#login"><span  class="spanIcons glyphicon glyphicon-log-out"></span> </a></div>
    <div class="elementsBar"><a  href="#notifications"><span class="spanIcons glyphicon glyphicon-bell"></span> </a></div>
    <div class="elementsBar"><a href="#studentprofile"><span class="spanIcons glyphicon glyphicon-home"></span></a></div>
    <div class="textBarRight" >Mi Perfil </div>

</div>


<div class="rows">
    <div class="border row"> 
        <div class="border col-md-4" >

            <div class="left-panel">
                <img class="img-circle" src="assets/pp.jpeg">

                <div class="personalInformation"> 
                    <p><strong>Nombre:</strong> Nicolás Jiménez García</p>
                    <p><strong>Universidad:</strong> Tecnológico de Costa Rica</p>
                    <p><strong>Link hoja de vida:</strong> <a>C.V.</a></p>
                    <p><strong>Id:</strong> 115780293</p>
                    <p><strong>Link repositorio:</strong> <a>link Dropbox</a> </p>
                    <p><strong>Ubicación:</strong> Tres Ríos</p>
                    <p><strong>Tecnologías:</strong> Visual Basic, Visual Fox Pro</p>
                    <p><strong>Número de proyectos realizados:</strong> 34</p>

                    <strong>Nota promedio de cursos</strong>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                            70%
                        </div>
                    </div>

                    <strong>Nota promedio de proyectos</strong>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width : 80%">
                            80%
                        </div>
                    </div>
                    <button class="btn btn-danger">Deshabilitar cuenta</button>


                </div>

            </div>

        </div>
        <div class="border col-md-8" >

            <h2>Título</h2>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#studentprofile"><h4> Mis cursos</h4></a></li>
                <li><a href="#workprofile"><h4>Mis trabajos</h4></a></li>
                <li><a href="#unicourses"><h4>Cursos de mi universidad</h4></a></li>
                <li><a href="#searcher"><h4>Buscar trabajos</h4></a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active container">

                    <h3>Cursos activos</h3>
                    <hr class="hr2">

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button                    ng-click="vm.goArea()"  type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button ng-click="vm.goArea2()" type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button  type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button  type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>

                    <br>     
                    <h3>Cursos terminados</h3>
                    <hr class="hr2">

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button  type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button  type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button  type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>

                    <div class="panel panel-default panelProfile">
                        <div class="panel-body"><strong>Nombre del curso: {{nombreCurso}}</strong><p>
                            Descripción, tecnologías, nombre del profesor, evaluación,  número de grupo.<button  type="button" class="btn btn-default uniCourse">Abrir curso</button></p> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


